
body {
    margin: 0;
    padding: 0;
    width: 1920px;
    height: 1080px;
    overflow: scroll;
}

.signup {
    display: block;
    justify-content: center;
    align-items: center;
    height: 70vh;
    display: flex;
    flex-direction: column;
    
    border: 20px;
    z-index: 2000000;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 44%;
    overflow: hidden;
    border: 2px solid black;
    border-radius: 20px;
    padding: 10px;
    


}

h1{
    z-index: 1111111;
    color: rgb(243, 167, 26);
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.signupBTN {
    padding: 23px;
    width: 55%;
    max-width: 100%;
    border-radius: 12px;
    background-color: rgb(255, 189, 47);
    
}




.email_user_layout, .Pass_layout{
    display: flex;
    justify-content: space-between;
    padding: 50px;
    padding: 10px;
    align-content: space-between;
    gap: 10px;
    box-sizing: border-box;
    max-width: 100%; /* Adjust this value as needed */
    
}

input.phone_layout {
    width: 52%;
    align-items: center;
    padding-right: 1em;
    border-radius: 12px;
    max-width: 100%;
   
}

.phone_layout {
    margin-bottom: 10px;
}




/* Add this CSS to ensure the form is not stuck underneath the navbar */


/* Additional styling for form elements */


input {
    padding: 1em;
    width: 20em;
    height: 2em;
    
}



.error {
    color: red;
    font-size: 14px;
    text-wrap: wrap;
    margin-top: 10px; /* Add some margin to separate the error message from the input */
}


