

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/layout.css">
    <title>Document</title>
</head>
<div class="Image" style="background-image: url('static/giulia-salvaterra-rFMVkdU6Dt4-unsplash.jpg')">


<body >

    <header class="header">
        <a href="" class="logo">Riget Zoo</a>
       
        <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
        <ul class="menu">
            {% if user%}
          <li class="droplist"><a href="#work">Account</a></li>
            <ul class="dropdown">
                <li><a href="/account">Account Settings</a></li>
                <li><a href="/ViewBookings">View Booking</a></li>
                <li><a href="/Accessibility">Accessibility</a></li>
                <li><a href="Loyalty">Loyalty Rewards</a></li>
            </ul>
          <li><a href="/about">About</a></li>
          <li><a href="/tickets">Tickets</a></li>
          <li><a href="/logout">Logout</a></li>
          {%else%}
          <li><a href="/about">About</a></li>
          <li><a href="/contact">Contact Us</a></li>
          <li><a href="/signup">Signup</a></li>
          <li><a href="/login">Login</a></li>
          {%endif%}
        </ul>
        </header>

    {% block content %}

    {% endblock %}
</body>
</div>
</html>

  