{% extends "layout.html" %}

{% block content %}
<!DOCTYPE html>

<html>
    <head>
        Home
    </head>
    <link rel="stylesheet" href="static/style.css">
    
    <body class="signup-body">
        
        <form class="signup" name="signup" method="POST" action="/signup">
            <h1> Login and Start your adventure</h1>

            <div class="email_user_layout">
            <input type="text" name="Email" placeholder="Email">
            <input type="text" name="Username" placeholder="Username">
            </div>

            <div class="Pass_layout">
            <input type="password" name="Password" placeholder="Password">
            <input type="password" name="cpass" placeholder="Confirm Password">
            </div>

            <input class="phone_layout" type="text" name="Phone"placeholder="phone">

          

            <button class="signupBTN" name="action" value="register"> SignUP</button>

            {% if error %}
            <p class="error"> {{ error }}</p>
            {% endif %}


        </form>
    </body>
</html>

{% endblock %}